streamlit
langchain
langchain-community
nucliadb_sdk
torch
sentence_transformers
llama-cpp-python
chromadb
langchain_openai
pytest
flask
flask-socketio
flake8
pytest
torch --index-url https://download.pytorch.org/whl/cpu
