.user-icon{
    width: 50px;
    height: 50px;
    margin-left: 8px; /* Add margin to separate icon from message bubble */
}

.message-bubble {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align messages to the right */
  }
.user {
    background-color: #E6E6E6; /* Add background color for user message */
  }
  
.bot {
    flex-direction: row-reverse; /* switch message direction  */
    background-color: #CA6267; /* background color for the bot message */
  }
.message {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 450px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    padding: 6px; /* Add padding to each message */
    border-radius: 10px; /* Add border radius for rounded corners */
  }

  