.input-val{
    width: 300px;
    height:55px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;   
    border-radius: 5px; 
    color:#CA6267;
}

.API-button{
    width: 150px;
    height: 50px;
    margin-right: 50px;
    background-color: #CA6267;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

.API-button:hover {
    background-color: rgb(204, 61, 173);
}

.header-api {
    color: #CA6267;
    margin-bottom: 20px;
}

.h2-api {
    color: black;
}

.phase1-OpenAi {
    color: black;
}

.tutorial-OpenAi {
    border-radius: 10px;
    margin-top: 30px;
}

.stepBystep-tutorial {
    color:#CA6267;
}

.step-1 {
    color: black; 
    margin-bottom: 20px;
    margin-left: 25px;
}

.step-2 {
    color: black; 
    margin-left: 25px;
}


.OpenAi-button {
    color: white;
    width: 150px;
    height: 50px;
    background-color:#CA6267;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 20px;

}

.OpenAi-button:hover {
    background-color: black;
    border-color: pink;
}


.para-1 {
    color: black;
    margin-left: 25px;
    font-size: 20px;
}

.login-image {
    margin-left: 25px;
    width: 1150px;
    height: 70px;
    margin-bottom: 20px;
}

.api-select-image {
    margin-top: 20px;
    margin-left: 25px;
    width: 50%;
    height: 40%;
    margin-bottom: 20px;

}
.hello{
    top:0;
    right:0;
}