.home-page{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100vw;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(202, 98, 103, 0.1), rgba(202, 98, 103, 0.5));
    background-size: cover;
    background-position: center;
    padding: 5px;
  }
  
.landing-page-headline{
    text-align: center;
    margin-top: 200px;
    color:black;
    width: 800px;
    margin-left: 20px;
    font-weight: 700;
}

.sub-headline{
    margin-top: 30px;
    font-size: 20px;
    width: 700px;
    text-align:center;
    color: black;
    margin-left: 70px;
}

.chatwithme-image{
    margin-left: 900px;
    margin-top: -300px;
    width: 800px;
    border-radius: 10px;
}

.heading-section2{
    color:black;
}

.heading-text{
    color: black;
    margin-top: 20px;
    width: 650px;
}

.howitworks-section{
    margin-top: 50px;;
}

.howitworks-section-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.howitworks-section-bottom{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.howitworks-section-info{
    width: 290px;
    height: 550px;
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: #505050;
    margin: 1rem 2rem;
    margin-bottom: 40px;
}

.image-info{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.howitworks-section-bottom h2 {
    font-size: 25px;
    margin: 1rem 0rem;
    color: black;
}

.howitworks-section-bottom p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.about-container{
    justify-content: center;
    width: 750px;
    height: 350px;
    color: black;
    background-color: white;
    border-radius: 1rem;
    margin-left: 40px;
    margin-top: -100px;
    padding: 20px;
}

.about-header{
    font-size: 20px;
    color: #CA6267;
}

.sub-heading{
    margin-top: 30px;
    color: black;
    text-align: center;
}

.button-card{
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(222, 235, 104);
    border: none;
}